<a href="https://colab.research.google.com/github/Salman024/Make-Doraemon-with-Python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(42)

# Generate fictional sales data
num_entries = 100
dates = pd.date_range(start='2023-01-01', periods=num_entries, freq='D')
products = ['Product A', 'Product B', 'Product C']
sales_data = {
    'Date': np.random.choice(dates, num_entries),
    'Product': np.random.choice(products, num_entries),
    'Units Sold': np.random.randint(1, 50, num_entries),
    'Revenue': np.random.uniform(100, 1000, num_entries)
}

sales_df = pd.DataFrame(sales_data)

In [2]:
# Display first few rows of the DataFrame
print(sales_df.head())

# Display summary statistics
print(sales_df.describe())

# Display data types of columns
print(sales_df.dtypes)

# Check for missing values
print(sales_df.isnull().sum())

        Date    Product  Units Sold     Revenue
0 2023-02-21  Product B           6  907.399234
1 2023-04-03  Product A           8  898.377782
2 2023-01-15  Product A          27  801.887991
3 2023-03-13  Product A           9  677.828482
4 2023-03-02  Product A          37  175.725968
       Units Sold     Revenue
count  100.000000  100.000000
mean    24.500000  580.601317
std     14.995285  264.601087
min      1.000000  104.555425
25%     11.000000  362.646277
50%     25.500000  616.134275
75%     37.000000  815.550981
max     49.000000  991.048465
Date          datetime64[ns]
Product               object
Units Sold             int64
Revenue              float64
dtype: object
Date          0
Product       0
Units Sold    0
Revenue       0
dtype: int64

In [3]:
# Group data by product and calculate total units sold and revenue
product_summary = sales_df.groupby('Product').agg({
    'Units Sold': 'sum',
    'Revenue': 'sum'
}).reset_index()

print(product_summary)

     Product  Units Sold       Revenue
0  Product A         997  22466.320704
1  Product B         444  14840.090337
2  Product C        1009  20753.720662

In [4]:
# Filter data for a specific product
product_a_data = sales_df[sales_df['Product'] == 'Product A']

# Select rows where units sold are greater than 30
high_sales_data = sales_df[sales_df['Units Sold'] > 30]

In [5]:
# Set the 'Date' column as the index
sales_df.set_index('Date', inplace=True)

# Resample data to get monthly sales
monthly_sales = sales_df.resample('M').agg({
    'Units Sold': 'sum',
    'Revenue': 'sum'
})

print(monthly_sales)

            Units Sold       Revenue
Date
2023-01-31         728  16728.919675
2023-02-28         532  15570.940327
2023-03-31        1007  21143.108608
2023-04-30         183   4617.163093